# Prerequisites
objs/
school/
.vscode
*.d
*.o
*.lib
*.a
*.out
# Executables
megaphone
phonebook
banksters
walkingdead
horde
brain
barbarianBob
notsed
harl
clapTrap
scavTrap
fragTrap
diamondTrap
animals